/* ウィンドウ幅が0〜768pxの場合に適用するCSS */
@media only screen and (max-width:768px)
{
	.header_container{
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 1000;
		padding: 0 0px;
	}
	#header{
		background: #FFF;
		position: relative;
	}
	#top-head h1{
	    margin: 20px 0px 0px 20px;
    }
	#header #nav{
		display: none;
		text-align: center;
		position: absolute;
		left: 0;
		width: 100%;
		background: #5ec2c6;
	}
	#header #nav ul{
		display: block;
		padding: 10px 0;
	}
	#header #nav ul li{
		display: block;
		padding: 10px 0;
	}
	#header #nav ul li a{
		display: inline-block;
		color: #FFF;
		font-size: 13px;
		letter-spacing: 1px;
		transform: perspective(1px) translateZ(0);
		position: relative;
		margin: 0 15px;
	}



    #top-head{
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: absolute;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #fff;
        width: 100%;
        /*height: 56px;*/
        z-index: 2000;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    #nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -520px;
        background: #5ec2c6 !important;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
		z-index:9999 !important;
 }
    #nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #nav ul li {
		display:block;
        float: none;
        position: static;
    }
	
	#nav li a{
	position: relative;
    display: inline-block;
	padding: 2px;
    text-decoration: none;
   }
	
	#nav li a::after {
	  width: 100%;
	  height: 1px;
	  background-color: #FFF;

	}
	#nav li a:hover::after {
	  -webkit-transform: scaleX(1);
	  -ms-transform: scaleX(1);
	  transform: scaleX(1);
	}
	
    #top-head #nav ul li a,
    #top-head.fixed #nav ul li a {
        width: 100%;
        display: block;
        color: #FFF;
        margin: 20px 0;
    }
    #nav-toggle {
        display: block;
		margin: 13px 20px 0 0;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 5px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 5px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
	
	
	.breadcrumb ul li a{
	display: block;
	float: left;
	height: 15px;
	background: #5ec2c6;
	text-align: center;
	padding: 5px 5px 0 10px;
	position: relative;
	margin: 0 5px 0 0;
	font-size: 10px;
	text-decoration: none;
	color: #FFF;
    }
	
	
	#slider p{
	float: right;
	font-size: 12px;
	margin-bottom: 20px;
    }
	
	#footer ul{
	margin: 15px 0 10px 10px;
    }
	#footer small{
		clear: both;
		display: block;
		margin: 0 auto;
	}
	
	#news dd{
	margin: 5px 0px 0 5px;
    }
	
	#news{
		overflow: auto;
		height: 250px;
	    margin: 0 10px 30px 10px;
    }
	
	




}

@media only screen and (max-width:450px)
{
	
	#news{
		overflow: auto;
		height: 200px;
	    margin: 0 10px 30px 10px;
    }

	#footer{
	    width: 100%;
	    clear: both;
	    border-top: #5ec2c6 5px solid;
	}
    #footer .pagetop{
	    float: right;
	    margin: 0px 10px 0px 0;
	    font-size: 12px;
    }
    #footer ul{
	    width: inherit;
	    float: left;
	    margin: 15px 0 30px 10px;
    }

    #footer li{
	    border-radius: 5px;
	    font-size: 12px;
    }
	#footer small{
		clear: both;
		display: inline-block;
	    margin: auto;
		padding: 0 0 15px 10px;
　  }
	  
	 #illust_box img,
	 #design_box img{
		width: 100px;
		height: 100px;
		margin: 4px 2px;
		border: 1px #A3D8DB solid;
	}
	
	#main_wrap{
	    margin: 20px 10px;
    }
	
	#profile{
	    padding: 0;
    }
	#profile th{
		padding: 10px 0px 15px 16px;
    }
	#profile td{
	    padding: 10px 5px 10px 10px;
    }
	#profile dd{
		marign: 0 5px 0 0;
	}
	.sentence{
	margin: 20px 0 0 10px;
	}
	
	.table_form th{
	padding: 10px 20px 10px 10px;
	text-align: left;
	vertical-align: top;
    }


.table_form th{
	width: 90%;
	padding: 5%;
	display:block;
}
.table_form td{
	width: 90%;
	padding: 0 5% 5%;
	display:block;
}


}